apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: toron-engine
  labels:
    app: toron-engine
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: toron-engine
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
